HOST = 'ub10sbase'
HOSTIP = '10.10.1.102'
ROOT_USER = 'root'
ROOT_USER_PASSWORD = 'foobar'
DEPLOY_USER = 'dwz'
DEPLOY_USER_PASSWORD = 'foobar'
DEPLOY_POSTGRES_PASSWORD = 'foobar'
APP_NAME = 'dwz'
DB_NAME = "#{APP_NAME}_production"
GIT_HOST = "git@github.com"
